@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

:root{
    --head-foot-bg-color: rgb(9, 9, 51);
    --head-foot-text-color:rgb(234, 235, 181);
    --head-foot-hover-color: rgb(218, 153, 34);
    
}

html{
    font-family: 'Roboto';
    font-size: 62.5%;
    box-sizing: border-box;
    
}

body,
#root{
  height: 100vh;
  margin: 0;
  font-size: 1.6rem;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
}

header{
  display: flex;
    background-color: var(--head-foot-bg-color);
    color: var(--head-foot-text-color);
    grid-area: header;
    align-items: center;
}

header a{
  color: var(--head-foot-text-color);
  text-decoration: none;
}

header a:hover{
  color: var(--head-foot-hover-color);
  
}

main{
    grid-area: main;
    
}

footer{
  display: flex;
    background-color: var(--head-foot-bg-color);
    color: var(--head-foot-text-color);
    grid-area: footer;
    justify-content: center;
    align-items: center;
}

/*          Content CSS          */
.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3 60rem
}

.sidebar{
  flex: 1 20rem
}


/*          Product CSS          */
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  list-style-type: none;
}

.products li{
  flex: 0 1 29rem;
  height: 47rem;
  padding: 2rem;

}

.product{
  max-width: 16.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product img{
  max-height: 40rem;
}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button{
  text-align: center;
  flex:1;
}

.product a{
  text-decoration: none;
}

.product-price div{
  font-size: 2rem;
}

.button{
  padding: 1rem;
  border: .1rem gray solid;
  background-color: honeydew;
  cursor: pointer;
}

.button:hover{
  border: .1rem pink solid;
  background-color: purple;
  color: wheat;
}

button.primary{
  background-color: gold;
}